section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-control-prev-icon {
    background-image: url(../img/transfer.png);
    width: 50px;
    height: 50px;
}
.carousel-control-next-icon {
    background-image: url(../img/transfer.png);
    width: 50px;
    height: 50px;
}

:root {
    --color1: #9b2ece;
    --color2: #4af190;
}
header, {
    padding: 50px 0;
}
header, footer {
    background: #f731f7;
background: -moz-linear-gradient(left,  #f731f7 0%, #4382ef 100%);
background: -webkit-linear-gradient(left,  #f731f7 0%,#4382ef 100%);
background: linear-gradient(to right,  #f731f7 0%,#4382ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f731f7', endColorstr='#4382ef',GradientType=1 );

}